.center{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-container {
  max-width: 50%;
  padding: 20px;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 50%; /* Ensure container covers the full viewport height */
  background-color: rgba(33, 33, 33, 0.3); /* Semi-transparent background color */
  backdrop-filter: blur(10px); /* Apply blur effect to the background */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2); /* Glassy shadow effect */
  border-radius: 10px;
}

.about-container h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #1ed760;
  margin-bottom: 30px;
}

.about-container p {
  font-size: 1rem;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 20px;
}
