/* contact.css */

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.glassy-card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: rgba(33, 33, 33, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  text-align: center;
}

.contact-card img {
  width: 100px;
  height: 100px;
  object-fit: cover; /* Ensure images maintain aspect ratio */
  border-radius: 50%;
  margin: 0 auto 10px; /* Center image vertically and add spacing */
}

.contact-card h2 {
  color: #1ed760;
  font-size: 1.5rem; /* Adjust font size */
  margin-bottom: 10px;
}

.contact-card p {
  color: #ffffff;
  font-size: 1rem; /* Adjust font size */
  margin-bottom: 10px; /* Increase spacing between paragraphs */
}

.contact-card a {
  color: #1ed760;
  text-decoration: none;
}

.contact-card a:hover {
  text-decoration: underline;
}

/* Media queries for responsiveness */

@media screen and (max-width: 768px) {
  .glassy-card {
    width: calc(100% - 40px);
    max-width: none;
  }

  .contact-card img {
    width: 80px; /* Reduce image size for smaller screens */
    height: 80px;
  }
}