/* contact.css */

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.glassy-card {
  margin: 20px;
  padding: 20px;
  background-color: rgba(33, 33, 33, 0.3); /* Semi-transparent background color */
  backdrop-filter: blur(10px); /* Apply blur effect to the background */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2); /* Glassy shadow effect */
  border-radius: 10px;
}

.contact-card {
  text-align: center;
}

.contact-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.contact-card h2 {
  color: #1ed760;
  font-size: 22px;
  margin-bottom: 10px;
}

.contact-card p {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 8px;
}

.contact-card a {
  color: #1ed760;
  text-decoration: none;
}

.contact-card a:hover {
  text-decoration: underline;
}
