
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    overflow-y: hidden;
  }
  
  .home-cards {
    display: flex;
    gap: 40px;
  }
  
  .home-card {
    background: linear-gradient(to bottom right, #1c1c1c, #2d2d2d);
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    border: 2px solid transparent;
    cursor: pointer;
  }
  
  .home-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
    border: 2px solid #1ed760;
  }
  
  .home-card h3 {
    color: aliceblue;
    margin-bottom: 10px;
    font-size: 1.8rem;
    text-align: center;
  }
  
  .home-card p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .home-button {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #1ed760;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .home-button:hover {
    background-color: #1db954;
  }
  