/* General Styles */
body{
    font-family: 'Circular', sans-serif !important;
    background-image: url('HD-wallpaper-dark-light-pink-shades-pink-background-pink-background-thumbnail.jpg')!important;
    background-size: cover !important; /* Preserve aspect ratio and cover the entire container */
    background-repeat: no-repeat !important; /* Prevent the background image from repeating */
    background-position: center !important; ; /* Center the background image */
    color: #ffffff !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
    min-height: 100vh !important;
}

#root {
    height: 100% !important;
}