/* navBar.css */

.navbar {
  background-color: rgba(0, 0, 0, 0.7); /* Translucent black background */
  padding: 20px 20px; /* Padding to adjust height */
  box-shadow: 0 2px 2px rgb(125, 125, 125);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-item {
  margin-left: 20px;
}

.navbar-link {
  text-decoration: none;
  color: #1ed760; /* Green color for links */
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 30px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-link:hover {
  background-color: rgb(255, 255, 255); /* Light green background on hover */
  color: #4500ff; /* Change text color on hover */
}

.navbar-btn {
  background-color: #1ed760; /* Green button background */
  color: #fff; /* White text color */
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-btn:hover {
  background-color: #1db954; /* Darker green on hover */
}
