/* navBar.css */
.navbar {
  background-color: rgba(0, 0, 0);
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(125, 125, 125, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar-item {
  margin-left: 20px;
}

.navbar-link {
  text-decoration: none;
  color: #1ed760;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 30px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-link:hover {
  background-color: #1ed760;
  color: #ffffff;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .navbar-list {
    display: flex;
    align-items: center;
  }

  .navbar-item {
    margin-left: 10px;
  }

  .navbar-link {
    font-size: 14px; /* Reduced font size for mobile screens */
    padding: 8px 16px; /* Reduced padding for mobile screens */
  }
}