/* RemoveDuplicates Styles */
.dashboard-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.dashboard-heading {
  font-size: 2rem;
  font-weight: bold;
  color: #1ed760;
  text-align: center;
  margin-bottom: 30px;
}

.playlists-list {
  list-style-type: none;
  padding: 0;
}

.playlist-item {
  background-color: #282828;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
    margin-right: 15px;
    background: linear-gradient(to bottom right, #1c1c1c, #2d2d2d); /* Add gradient background */
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
  
}

.playlist-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playlist-name {
  font-size: 1.2rem;
  color: #b3b3b3;
}

.playlist-actions {
  display: flex;
  gap: 10px;
}

.playlist-action-button {
  background-color: #1ed760;
  color: #191414;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  transition: background-color .4s;
}





.playlist-action-button:hover {
  background-color: #25b858;
}

/* Styles for duplicate tracks section */
.duplicate-tracks {
  background-color: #3a3a3a;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.duplicate-tracks h4 {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #d3d0d0;
}

.duplicate-tracks ul {
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
}

.duplicate-tracks li {
  font-size: 0.9rem;
  margin-bottom: 3px;
  color: #b4b4b4;
}



/* Responsive Styles */
@media screen and (max-width: 600px) {
  .dashboard-container {
    padding: 10px;
    text-align: center; /* Center content horizontally */
  }

  .playlist-item {
    display: inline-block; /* Display playlist items as inline-block */
    text-align: left; /* Reset text alignment for playlist item content */
    background-color: #282828;
    border-radius: 10px;
    padding: 15px;
    margin: 0 auto; /* Center playlist items horizontally */
    margin-bottom: 15px;
    max-width: 80%; /* Limit maximum width of playlist items */
  }

  .playlist-info {
    flex-direction: column; /* Change flex direction to column */
    align-items: flex-start; /* Align items to start of column */
  }

  .playlist-actions {
    margin-top: 10px; /* Add some space between playlist name and buttons */
  }

  .playlist-name {
    font-size: 1rem;
    margin-bottom: 8px; /* Add some space between playlist name and buttons */
  }

  .playlist-action-button {
    padding: 8px 12px;
    font-size: 0.9rem;
  }

  .duplicate-tracks {
    padding: 8px;
    margin-top: 8px;
  }

  .duplicate-tracks h4 {
    font-size: 0.9rem;
    margin-bottom: 4px;
  }

  .duplicate-tracks li {
    font-size: 0.8rem;
    margin-bottom: 2px;
  }
}
