/* review.css */
.my-rating-class {
    max-width: 100px;
    margin-right: auto;
    margin-left: auto;
}

.review-container {
    max-width: 100%;
    margin: 2% auto 0;
    padding: 30px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to bottom right, #1c1c1c, #2d2d2d);
    color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    height: 40%;
}

.review-container h2 {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.review-container p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}

.review-form label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
}

.rating-select,
.review-textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    resize: vertical;
    background-color: #f5f5f5;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.rating-select:focus,
.review-textarea:focus {
    outline: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 5px rgba(30, 215, 96, 0.5);
}

.submit-button {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #1ed760;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.submit-button:hover {
    background-color: #1db954;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
