.parent-container {
    display: flex;
    flex-direction: column;
    padding: 5rem;
}

.title {
    font-family: Kalam, serif;
    color: greenyellow;
    margin-top: -50px;
}

.headers {
    display: flex;
    justify-content: space-between;
}

.headers h2 {
    font-family: Kalam, serif;
    color: greenyellow;
    font-size: 1.2rem;
}

.lyrics,
.meaning {
    max-height: 570px;
    overflow-y: auto;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(148, 43, 86, 0.3);
    color: #fff;
    padding: 20px; /* Added padding for better spacing */
}

.lyrics-meaning {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.lyrics {
    width: 48%;
}

.meaning {
    width: 48%;
}

.lyrics-meaning-loading {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.loading-lyrics,
.loading-meaning {
    background-color: rgba(148, 43, 86, 0.0);
    border-radius: 0;
    width: 20%;
    padding: 20px; /* Added padding for better spacing */
}
