.parent-container{
    flex-direction: column;
}

.parent-container .title {
    font-family: Kalam, serif;
    margin-top: -50px;
    color: greenyellow;
}

.headers{
    display: flex;
    justify-content: space-between;
}

.headers h2{
    font-family: Kalam, serif;
    color: greenyellow;
    padding-right: 350px;
    padding-left: 350px;
    margin-bottom: -50px;
    font-size: 1.2rem;
}

.lyrics, .meaning {

    max-height: 570px;
    overflow-y: auto;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(148, 43, 86, 0.3);
    color: #fff;
    padding: 0;
}

.lyrics-meaning{
    margin-top: 50px;
    display: flex;
    justify-content: space-between; /* Space out the lyrics and meaning */
    width: 90%;
}

.lyrics {
    width: 48%;
    align-items: flex-start;
}

.meaning {
    width: 48%;
    align-items: flex-end;
}

.lyrics-meaning-loading{
    margin-top: 50px;
    display: flex;
    justify-content: space-between; /* Space out the lyrics and meaning */
    width: 100%;
}

.loading-lyrics {

    background-color: rgba(148, 43, 86, 0.0);
    border-radius: 0;
    width: 20%;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
}

.loading-meaning {
    background-color: rgba(148, 43, 86, 0.0);
    border-radius: 0;
    width: 20%;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
}
