/* Parent container styling */
.parent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

/* Button container styling */
.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Button styling */
.buttons button {
    background-color: #1ed760;
    background-image: linear-gradient(to right, #1ed760, #4caf50);
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 20px rgba(30, 215, 96, 0.5); /* Adding glow effect */
}

/* Button hover effect */
.buttons button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 0 30px rgba(30, 215, 96, 0.7); /* Increasing glow on hover */
}

/* Container styling */
.container {
    text-align: center;
}

/* Heading styling */
h1 {
    color: #1ed760;
    margin-bottom: 20px;
    font-size: 24px;
}

/* List styling */
.list {
    list-style: none;
    padding: 0;
    margin-top: 50px;
    margin-right: -200px;
    margin-left: -200px;
    display: flex; /* Make the list items display flex */
    flex-wrap: wrap; /* Allow wrapping of list items */
    justify-content: space-around; /* Center the list items horizontally */
}

/* List item styling */
.list-item {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #282828;
    background-image: linear-gradient(to right, #282828, #1a1a1a);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Add transition property */
    width: calc(45% - 15px); /* Set the width of each list item to 45% with margin */
    margin-right: 20px; /* Add margin to separate list items */
    margin-left: 20px; /* Add margin to separate list items */
    box-sizing: border-box; /* Include padding and border in the width */
}

/* List item hover effect */
.list-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 0 30px rgba(30, 215, 96, 0.7);
}

/* Image and content wrapper */
.list-item-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

/* Image styling */
.list-item img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
    object-fit: cover;
}

/* Track and artist name wrapper */
.track-artist-names {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -17px; /* Reduce the margin-top to decrease the vertical space */
    margin-bottom: -17px; /* Reduce the margin-top to decrease the vertical space */
    /*padding-top: 0px;*/
}

/* Track name styling */
.track-name {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2px; /* Reduce the margin-bottom to decrease the vertical space */
}

/* Artist name styling */
.artist-name {
    color: #888888;
    margin-top: -2px;
    font-size: 16px;
}

/* Top artists artist name styling */
.list-item.top-artists .artist-name {
    color: #ffffff;
    font-weight: bold;
}

/* Index styling */
.list-item .number {
    color: #1ed760;
    font-weight: bold;
    margin-right: 10px;
}
